/*all common css start*/
*{
    margin: o;
    padding: 0;
}


ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}


.container{
    width: 1170px;
    margin: 0 auto;
}

/*all common css end*/

/*Header Part start*/
#header_part{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}



.logo{
    padding-top: 25px;
    float: left;
    width: 270px;
}


.menu{
    float:left;
    width: 900px;
    text-align:right
}

.menu ul li{
    display: inline-block;
}


.menu ul li a{
    color: #ffff;
    line-height: 120px;
    font-size: 14px;
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    transition: .5s;
}

.menu ul li a:hover{
    color: #c7b299;
}


.clr{
    clear: both;
}


/*Header Part End*/





/*Banner  part start */

#banner_part{
    padding: 380px 0;
    background:url(./images/banner.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.banner_overly {
    padding: 380px 0;
    background:rgba(17, 17, 17, 0.7);
}


.banner_content{
    text-align: center;
}
    



.banner_content h3{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.banner_content h1{
    color: #fff;
    font-size: 52px;
    font-weight: 800; 
    font-family: 'Raleway', sans-serif;
}

.banner_content p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding: 0 286px;
    margin-bottom: 50px;
    line-height:24px ;
}
   


.banner_content a{
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 21px 37px 18px 37px;
    border-bottom: 3px solid #736357 ;
    background: #998675;
}

/*Banner  part end */

